.App {
  text-align: center;
}

body {
  background-color: #ffffff;
  padding-bottom:50px
}

#home {
  background-image: url("/public/files.svg");
  background-position: center; /* Center the image */
}

body {
  font-family: 'Rubik', sans-serif;
}  

/*Navbar styling */

.nav-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #212c35;
}
.btn {
  transition: 0.15s;
}
.btn:hover {
  cursor: pointer;
}

.delete:hover {
  cursor: pointer;
}

.template-image-container {
  transition: 0.5s;
}

.template-image-container:hover {
  cursor: pointer;
  transform: scale(1.03);
}


.btn:hover {
  opacity:0.8 !important
}
.btn-custom {
  border-radius:4px !important;
  border: none !important;
  font-weight: bold;
  background-color: rgb(108, 99, 255) !important;
}

.btn-custom-small {
  border-radius:4px !important;
  border: none !important;
  font-size:16px;
  font-weight: bold ;
  background-color: rgb(108, 99, 255) !important;
}
.btn-custom-small-outline {
  background-color: transparent !important;
  border-radius:4px !important;
  border-color: #3cc47c !important;
  color:#3cc47c;
  font-size:16px;
  font-weight: bold;
}

#form-side-bar {
  height: 500px;
  position: sticky !important;
}

/* Tablet responsive styling */

@media only screen and (min-width: 570px) and (max-width: 1024px) {

  .home-container {
    min-height: 60vh !important;
  }
  .navbar {
    padding-left: 30px !important;
  }
  .hero-image {
    display:none
  }

  .navbar-nav {
    text-align: left
  }

 
 }

/* Mobile styling */
@media (max-width: 570px) {

  .navbar {
    padding-left: 30px !important;
  }
  .hero-image {
    display:none
  }

  .template-image-container {
    height:300px;
  }

  .home-text-container {
    width: 100% !important;
  }

  .template-image-container {
    margin: 20px auto;
  }

  
}