.App {
  text-align: center;
}

#home {
  background-image: url("/public/files.svg");

  background-position: center; /* Center the image */
}

.btn {
  transition: 0.15s;
}
.btn:hover {
  cursor: pointer;
}

.delete:hover {
  cursor: pointer;
}
